In [1]:
import pandas as pd

In [3]:
dc = pd.read_csv("DC_Properties.csv", sep=',', dtype={'a': str})

In [4]:
dc.head(10)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,-77.041055,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,-77.039903,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,-77.040081,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW

In [5]:
dc = pd.read_csv("DC_Properties.csv", sep=',', dtype="unicode")

In [7]:
dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          158957 non-null  object
 1   BATHRM              158957 non-null  object
 2   HF_BATHRM           158957 non-null  object
 3   HEAT                158957 non-null  object
 4   AC                  158957 non-null  object
 5   NUM_UNITS           106696 non-null  object
 6   ROOMS               158957 non-null  object
 7   BEDRM               158957 non-null  object
 8   AYB                 158686 non-null  object
 9   YR_RMDL             80928 non-null   object
 10  EYB                 158957 non-null  object
 11  STORIES             106652 non-null  object
 12  SALEDATE            132187 non-null  object
 13  PRICE               98216 non-null   object
 14  QUALIFIED           158957 non-null  object
 15  SALE_NUM            158957 non-null  object
 16  GBA                 106696 non-null  object
 17  BLDG_NUM            158957 non-null  object
 18  STYLE               106696 non-null  object
 19  STRUCT              106696 non-null  object
 20  GRADE               106696 non-null  object
 21  CNDTN               106696 non-null  object
 22  EXTWALL             106696 non-null  object
 23  ROOF                106696 non-null  object
 24  INTWALL             106696 non-null  object
 25  KITCHENS            106695 non-null  object
 26  FIREPLACES          158957 non-null  object
 27  USECODE             158957 non-null  object
 28  LANDAREA            158957 non-null  object
 29  GIS_LAST_MOD_DTTM   158957 non-null  object
 30  SOURCE              158957 non-null  object
 31  CMPLX_NUM           52261 non-null   object
 32  LIVING_GBA          52261 non-null   object
 33  FULLADDRESS         106040 non-null  object
 34  CITY                106051 non-null  object
 35  STATE               106051 non-null  object
 36  ZIPCODE             158956 non-null  object
 37  NATIONALGRID        106051 non-null  object
 38  LATITUDE            158956 non-null  object
 39  LONGITUDE           158956 non-null  object
 40  ASSESSMENT_NBHD     158956 non-null  object
 41  ASSESSMENT_SUBNBHD  126406 non-null  object
 42  CENSUS_TRACT        158956 non-null  object
 43  CENSUS_BLOCK        106051 non-null  object
 44  WARD                158956 non-null  object
 45  SQUARE              158957 non-null  object
 46  X                   158720 non-null  object
 47  Y                   158720 non-null  object
 48  QUADRANT            158720 non-null  object
dtypes: object(49)
memory usage: 59.4+ MB