In [32]:
#Load libraries for data analysis
import pandas as pd
import numpy as np
#Load libraries for plotting and graphs
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [33]:
#Load csv file 
dc = pd.read_csv("DC_Properties.csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning:

Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types.Specify dtype option on import or set low_memory=False.

In [34]:
#get file information
dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          158957 non-null  int64
 1   BATHRM              158957 non-null  int64
 2   HF_BATHRM           158957 non-null  int64
 3   HEAT                158957 non-null  object
 4   AC                  158957 non-null  object
 5   NUM_UNITS           106696 non-null  float64
 6   ROOMS               158957 non-null  int64
 7   BEDRM               158957 non-null  int64
 8   AYB                 158686 non-null  float64
 9   YR_RMDL             80928 non-null   float64
 10  EYB                 158957 non-null  int64
 11  STORIES             106652 non-null  float64
 12  SALEDATE            132187 non-null  object
 13  PRICE               98216 non-null   float64
 14  QUALIFIED           158957 non-null  object
 15  SALE_NUM            158957 non-null  int64
 16  GBA                 106696 non-null  float64
 17  BLDG_NUM            158957 non-null  int64
 18  STYLE               106696 non-null  object
 19  STRUCT              106696 non-null  object
 20  GRADE               106696 non-null  object
 21  CNDTN               106696 non-null  object
 22  EXTWALL             106696 non-null  object
 23  ROOF                106696 non-null  object
 24  INTWALL             106696 non-null  object
 25  KITCHENS            106695 non-null  float64
 26  FIREPLACES          158957 non-null  int64
 27  USECODE             158957 non-null  int64
 28  LANDAREA            158957 non-null  int64
 29  GIS_LAST_MOD_DTTM   158957 non-null  object
 30  SOURCE              158957 non-null  object
 31  CMPLX_NUM           52261 non-null   float64
 32  LIVING_GBA          52261 non-null   float64
 33  FULLADDRESS         106040 non-null  object
 34  CITY                106051 non-null  object
 35  STATE               106051 non-null  object
 36  ZIPCODE             158956 non-null  float64
 37  NATIONALGRID        106051 non-null  object
 38  LATITUDE            158956 non-null  float64
 39  LONGITUDE           158956 non-null  float64
 40  ASSESSMENT_NBHD     158956 non-null  object
 41  ASSESSMENT_SUBNBHD  126406 non-null  object
 42  CENSUS_TRACT        158956 non-null  float64
 43  CENSUS_BLOCK        106051 non-null  object
 44  WARD                158956 non-null  object
 45  SQUARE              158957 non-null  object
 46  X                   158720 non-null  float64
 47  Y                   158720 non-null  float64
 48  QUADRANT            158720 non-null  object
dtypes: float64(15), int64(11), object(23)
memory usage: 59.4+ MB

In [57]:
#look at top rows
dc.head(10)

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,EYB,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,SOURCE,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,X,Y
WARD,,,,,,,,,,,,,,,,,,,,,
Ward 2,4,0,Warm Cool,Y,2.0,8,4,1972,3.0,2003-11-25 00:00:00,...,Hardwood,2.0,5,1680,Residential,38.914680,-77.040832,Old City 2,-77.040429,38.914881
Ward 2,3,1,Warm Cool,Y,2.0,11,5,1972,3.0,2000-08-17 00:00:00,...,Hardwood,2.0,4,1680,Residential,38.914683,-77.040764,Old City 2,-77.040429,38.914881
Ward 2,3,1,Hot Water Rad,Y,2.0,9,5,1984,3.0,2016-06-21 00:00:00,...,Hardwood,2.0,4,1680,Residential,38.914684,-77.040678,Old City 2,-77.040429,38.914881
Ward 2,3,1,Hot Water Rad,Y,2.0,8,5,1984,3.0,2006-07-12 00:00:00,...,Hardwood,2.0,3,1680,Residential,38.914683,-77.040629,Old City 2,-77.040429,38.914881
Ward 2,2,1,Warm Cool,Y,1.0,11,3,1985,3.0,NaN,...,Hardwood,1.0,0,2032,Residential,38.914383,-77.039361,Old City 2,-77.040429,38.914881
Ward 2,3,2,Hot Water Rad,Y,1.0,10,5,1972,4.0,2010-02-26 00:00:00,...,Hardwood,1.0,4,2196,Residential,38.914331,-77.039715,Old City 2,-77.040429,38.914881
Ward 2,1,0,Warm Cool,Y,2.0,5,2,1957,2.0,2011-05-02 00:00:00,...,Hardwood,2.0,0,1261,Residential,38.914983,-77.041055,Old City 2,-77.040429,38.914881
Ward 2,3,1,Hot Water Rad,Y,2.0,8,4,1972,3.0,2011-09-29 00:00:00,...,Hardwood,2.0,1,1627,Residential,38.915408,-77.040129,Old City 2,-77.040429,38.914881
Ward 2,3,1,Warm Cool,Y,2.0,7,3,1967,2.0,2018-05-03 00:00:00,...,Hardwood,2.0,1,1424,Residential,38.915017,-77.039903,Old City 2,-77.040429,38.914881
Ward 2,1,1,Hot Water Rad,Y,1.0,6,2,1950,2.0,2008-12-05 00:00:00,...,Hardwood,1.0,0,1424,Residential,38.915015,-77.040081,Old City 2,-77.040429,38.914881

In [ ]:
#get rid of columns I don't need
dc.drop(['Unnamed: 0','YR_RMDL','QUADRANT','SQUARE',
         'CENSUS_TRACT','CENSUS_BLOCK','ASSESSMENT_SUBNBHD',
         'NATIONALGRID','ZIPCODE','CITY','STATE','CMPLX_NUM',
         'GIS_LAST_MOD_DTTM','AYB','QUALIFIED','BLDG_NUM',
         'GRADE','USECODE','FULLADDRESS','LIVING_GBA'],axis=1, inplace=True)

In [62]:
#index the data by ward
dc.set_index("WARD",inplace = True)

In [61]:
#check index
dc.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,EYB,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,SOURCE,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,X,Y
WARD,,,,,,,,,,,,,,,,,,,,,
Ward 2,4,0,Warm Cool,Y,2.0,8,4,1972,3.0,2003-11-25 00:00:00,...,Hardwood,2.0,5,1680,Residential,38.914680,-77.040832,Old City 2,-77.040429,38.914881
Ward 2,3,1,Warm Cool,Y,2.0,11,5,1972,3.0,2000-08-17 00:00:00,...,Hardwood,2.0,4,1680,Residential,38.914683,-77.040764,Old City 2,-77.040429,38.914881
Ward 2,3,1,Hot Water Rad,Y,2.0,9,5,1984,3.0,2016-06-21 00:00:00,...,Hardwood,2.0,4,1680,Residential,38.914684,-77.040678,Old City 2,-77.040429,38.914881
Ward 2,3,1,Hot Water Rad,Y,2.0,8,5,1984,3.0,2006-07-12 00:00:00,...,Hardwood,2.0,3,1680,Residential,38.914683,-77.040629,Old City 2,-77.040429,38.914881
Ward 2,2,1,Warm Cool,Y,1.0,11,3,1985,3.0,NaN,...,Hardwood,1.0,0,2032,Residential,38.914383,-77.039361,Old City 2,-77.040429,38.914881

In [63]:
dc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158957 entries, Ward 2 to Ward 6
Data columns (total 28 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BATHRM           158957 non-null  int64
 1   HF_BATHRM        158957 non-null  int64
 2   HEAT             158957 non-null  object
 3   AC               158957 non-null  object
 4   NUM_UNITS        106696 non-null  float64
 5   ROOMS            158957 non-null  int64
 6   BEDRM            158957 non-null  int64
 7   EYB              158957 non-null  int64
 8   STORIES          106652 non-null  float64
 9   SALEDATE         132187 non-null  object
 10  PRICE            98216 non-null   float64
 11  SALE_NUM         158957 non-null  int64
 12  GBA              106696 non-null  float64
 13  STYLE            106696 non-null  object
 14  STRUCT           106696 non-null  object
 15  CNDTN            106696 non-null  object
 16  EXTWALL          106696 non-null  object
 17  ROOF             106696 non-null  object
 18  INTWALL          106696 non-null  object
 19  KITCHENS         106695 non-null  float64
 20  FIREPLACES       158957 non-null  int64
 21  LANDAREA         158957 non-null  int64
 22  SOURCE           158957 non-null  object
 23  LATITUDE         158956 non-null  float64
 24  LONGITUDE        158956 non-null  float64
 25  ASSESSMENT_NBHD  158956 non-null  object
 26  X                158720 non-null  float64
 27  Y                158720 non-null  float64
dtypes: float64(9), int64(8), object(11)
memory usage: 35.2+ MB

In [88]:
#Groupby Ward and Price
ward = dc.groupby(["WARD","PRICE"])

In [90]:
#Display first value in each group
ward.first()

                   BATHRM  HF_BATHRM            HEAT AC  NUM_UNITS  ROOMS  \
WARD   PRICE
Ward 1 10.0             1          0   Hot Water Rad  N        1.0      6
       250.0            3          1      Forced Air  Y        3.0      8
       500.0            2          0   Hot Water Rad  N        2.0      6
       1377.0           1          1   Hot Water Rad  Y        1.0      6
       4500.0           3          0   Hot Water Rad  N        3.0     11
...                   ...        ...             ... ..        ...    ...
Ward 8 3043200.0        1          1       Warm Cool  Y        1.0      6
       4739000.0        4          0      Forced Air  Y        4.0     16
       5600000.0        1          0  Water Base Brd  Y        NaN      3
       25000000.0       0          0         No Data  0        0.0      0
       25100000.0       4          0      Forced Air  Y        0.0      5

                   BEDRM   EYB  STORIES             SALEDATE  ...  \
WARD   PRICE                                                  ...
Ward 1 10.0            3  1954      2.0  1998-09-21 00:00:00  ...
       250.0           3  1967      3.0  1999-11-08 00:00:00  ...
       500.0           2  1954      2.0  1998-10-13 00:00:00  ...
       1377.0          3  1960      2.0  2000-02-08 00:00:00  ...
       4500.0          3  1954      3.0  2002-04-24 00:00:00  ...
...                  ...   ...      ...                  ...  ...
Ward 8 3043200.0       3  1996      3.0  2017-05-10 00:00:00  ...
       4739000.0       8  1964      2.0  2014-10-24 00:00:00  ...
       5600000.0       1  2005      NaN  2006-07-28 00:00:00  ...
       25000000.0      0  2004      0.0  2018-04-13 00:00:00  ...
       25100000.0      0  2007      1.0  2018-02-15 00:00:00  ...

                         INTWALL  KITCHENS FIREPLACES LANDAREA       SOURCE  \
WARD   PRICE
Ward 1 10.0           Wood Floor       1.0          0     1031  Residential
       250.0            Hardwood       3.0          3     2700  Residential
       500.0          Wood Floor       2.0          0     1587  Residential
       1377.0           Hardwood       1.0          5     1360  Residential
       4500.0           Hardwood       2.0          0     1190  Residential
...                          ...       ...        ...      ...          ...
Ward 8 3043200.0        Hardwood       1.0          0      960  Residential
       4739000.0        Hardwood       4.0          0     9379  Residential
       5600000.0             NaN       NaN          0     1045  Condominium
       25000000.0        Default       0.0          0    21017  Residential
       25100000.0  Hardwood/Carp       1.0          0    63109  Residential

                    LATITUDE  LONGITUDE   ASSESSMENT_NBHD          X  \
WARD   PRICE
Ward 1 10.0        38.930664 -77.025854  Columbia Heights -77.025325
       250.0       38.922838 -77.033276  Columbia Heights -77.033337
       500.0       38.926493 -77.025620  Columbia Heights -77.024503
       1377.0      38.915094 -77.029890        Old City 2 -77.030583
       4500.0      38.917202 -77.039830        Old City 2 -77.039567
...                      ...        ...               ...        ...
Ward 8 3043200.0   38.873187 -76.976071         Anacostia -76.975812
       4739000.0   38.831101 -76.999357  Congress Heights -76.996991
       5600000.0   38.852984 -76.964861    Randle Heights -76.964863
       25000000.0  38.828575 -76.996221  Congress Heights -76.997729
       25100000.0  38.862163 -76.971950    Randle Heights -76.972211

                           Y
WARD   PRICE
Ward 1 10.0        38.930483
       250.0       38.923015
       500.0       38.926761
       1377.0      38.915053
       4500.0      38.917462
...                      ...
Ward 8 3043200.0   38.873193
       4739000.0   38.831352
       5600000.0   38.852991
       25000000.0  38.827709
       25100000.0  38.861630

[24865 rows x 27 columns]

In [99]:
dc.isnull()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,EYB,STORIES,SALEDATE,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,SOURCE,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,X,Y
WARD,,,,,,,,,,,,,,,,,,,,,
Ward 2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ward 2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ward 2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ward 2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ward 2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ward 6,False,False,False,False,True,False,False,False,True,False,...,True,True,False,False,False,False,False,False,False,False
Ward 6,False,False,False,False,True,False,False,False,True,False,...,True,True,False,False,False,False,False,False,False,False
Ward 6,False,False,False,False,True,False,False,False,True,False,...,True,True,False,False,False,False,False,False,False,False
Ward 6,False,False,False,False,True,False,False,False,True,False,...,True,True,False,False,False,False,False,False,False,False
Ward 6,False,False,False,False,True,False,False,False,True,False,...,True,True,False,False,False,False,False,False,False,False